  <div id="pics" class= "transitions-enabled">
    <% @pics.each do |pic| %>
        <div class="box panel panel-default">
          <td><%= image_tag pic.image.url(:medium) %></td>
          <td><%= link_to 'Show', pic %></td>
          <% if pic.user == current_user %>
          <td><%= link_to 'Edit', edit_pic_path(pic) %></td>
          <td><%= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
    <% end %>
  </div>
  