<div id="pics" class="transitions-enabled">
  <% @pics.each do |pic| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pic.image.url(:medium)), pic %>
    </div>
  <% end %>
</div>  