<div>
  <h1>Express Yourself Using UCSBYak</h1>
</div>
  	<p>UCSBYak is a photo sharing and blog web application that is free and easy to use</p>
	<p>Simply sign-up and add photos of your liking, which will be displayed for UCSB students to see </p>

<%= link_to 'Sign up', new_user_registration_path %>

