<div>
  <h1>Express Yourself Using IVLens</h1>
</div>
  	<p>ivlens is a photo sharing and blog web application that is free and easy to use</p>
	<p>Simply sign-up and add photos of your liking, which will be displayed for the world to see </p>

<%= link_to 'Sign up', new_user_registration_path %>

<div>
  <h1>help build IVLens</h1>
</div>

<p> founded at UCSB, IVLens is now expanding to encompass anyone, anywhere </p>
<p> interested in helping develop IVLens? </p>

<p> Send all inquires to ivlensucsb@gmail.com </p>

