<div>
  <h1>About UCSBYak</h1>
</div>
  	<p>UCSBYak is a photo sharing web application that is free and easy to use</p>
	<p>Simply sign-up and add photos of your liking, which will be displayed for UCSB students to see </p>

